{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block body_block %}
  <div class="jumbotron">
    <h1>Details:</h1>
    <p>Name:{{event_detail.name}}</p>
    <p>Time:{{event_detail.time}}</p>
    <p>Duration:{{ event_detail.duration }}</p>
    <p>Image:{{ event_detail.image }}</p>
    <img src="{{event_detail.image.url}}" alt="Sorry">
  </div>

  <div class="container">
    {% if user.is_authenticated and user.username == event_detail.organiser.username %}
      <p><a class="btn btn-warning" href="{% url 'events:update' pk=event_detail.pk %}">Update</a>
      <a class="btn btn-danger" href="{% url 'events:delete' pk=event_detail.pk %}">Delete</a> </p>
    {% endif %}
  </div>
{% endblock %}
